<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <style>
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
            padding:10px;
            {% comment %} text-align:center; {% endcomment %}
            
        }
        body{
            text-align: center;
        }
        .container-2{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>courses list</h1>
    <div class="container-2">
    <table>
        <tr>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Course Image</th>
            <th>Description</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course.course_name }}</td>
            <td>{{ course.duration }}</td>
            <td><img src="{{ course.course_image.url }}" alt="{{ course.course_name }}"></td>
            <td>{{ course.description }}</td>
        </tr>
        {% endfor %}
    </table>
    </div> <br>
    <button onclick="window.history.back()">Back</button>
</body>
</html>